
.icon-bell:before { content: '\e800'; } /* '' */
.icon-chart-pie-outline:before { content: '\e801'; } /* '' */
.icon-basket:before { content: '\e802'; } /* '' */
.icon-search:before { content: '\e803'; } /* '' */
.icon-sun:before { content: '\e804'; } /* '' */
.icon-moon:before { content: '\e805'; } /* '' */
.icon-cw:before { content: '\e806'; } /* '' */
.icon-eye:before { content: '\e807'; } /* '' */
.icon-th-outline:before { content: '\e808'; } /* '' */
.icon-chart-line:before { content: '\e809'; } /* '' */
.icon-mail:before { content: '\e80a'; } /* '' */
.icon-home-outline:before { content: '\e80b'; } /* '' */
.icon-dot-3:before { content: '\e80c'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-dollar:before { content: '\f155'; } /* '' */
.icon-percent:before { content: '\f295'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */
